*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

#header{
    background-color: black;
    padding: 10px;
}

#header ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}

#header ul li a{
    color: white;
    text-emphasis: none;
    padding: 10px;
}

#footer{
    background-color: #5eced9;
    padding: 20px;
}

#main{
    padding: 40px 0;
    width: 700px;
    margin: 0 auto;
}

.center{
    text-align: center;
}

.padding-table{
    padding: 25px;
}

.margen-div{
    margin: 15px;
    padding: 25px;
}

.margen-form{
    margin: 110px auto ;

}

